<p-table [value]="partNumberList">
  <ng-template pTemplate="header">
      <tr>
          <th>Part Number</th>
          <th>Part Name</th>
          <th>Part Status</th>
          <th>Version</th>
          <th>Last Updated On</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-partNumberList>
      <tr>
          <td><a routerLink="partdetails/{{partNumberList.partNumber}}">{{partNumberList.partNumber}}</a></td>
          <td>{{partNumberList.fullPartName}}</td>
      </tr>
    </ng-template>
</p-table>

<router-outlet></router-outlet>
