<p-table [value]="data">
  <ng-template pTemplate="header">
      <tr>
          <th>id</th>
          <th>partMasterDataType</th>
          <th>partMasterDataTypeValue</th>
          <th>partMasterDataTypeCode</th>
      </tr>
  </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr *ngFor="let items of data">
              <td>{{items.id}}</td>
              <td>{{items.partMasterDataType}}</td>
              <td>{{items.partMasterDataTypeValue}}</td>
              <td>{{items.partMasterDataTypeCode}}</td>
              
          </tr>
      </ng-template>
  </p-table>