<!--<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Create Part</h1>
    </div>
</div> -->
<app-partmasterdata></app-partmasterdata>
<div class="p-field p-col-12 p-md-4">
    <div class="p-field p-col-12 p-md-4">
        <button [style]="{'width':'150px' ,'margin-top':'10px','margin-right':'10px','margin-left':'10px','margin-bottom':'10px'}" 
            pButton type="button" label="Reset" class="p-button-raised p-button-rounded"></button>
        <button [style]="{'width':'150px' ,'margin-top':'10px','margin-right':'10px','margin-left':'10px','margin-bottom':'10px'}" 
            pButton type="button" label="Save" class="p-button-raised p-button-rounded"></button>
    </div>
</div>