<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span [style]="{'width':'350px', 'margin-top':'25px'}" class="p-float-label">
            <input type="text" id="Assembly" pInputText> 
            <label for="Assembly">Assembly</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4" width="300px">
        <span class="p-float-label" >
            <p-dropdown [style]="{'width':'350px', 'margin-top':'25px'}" inputId="Updown" [autoDisplayFirst]="false"></p-dropdown>
            <label for="Up/Down">Up/Down</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4" width="300px">
        <span class="p-float-label" >
            <p-dropdown [style]="{'width':'350px', 'margin-top':'25px'}" inputId="LH" [autoDisplayFirst]="false"></p-dropdown>
            <label for="L/H">L/H</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4" width="300px">
        <span class="p-float-label" >
            <p-dropdown [style]="{'width':'350px', 'margin-top':'25px'}" inputId="FR" [autoDisplayFirst]="false"></p-dropdown>
            <label for="Front/Rear">Front/Rear</label>
        </span>
    </div>
</div>