<div class="content-section implementation">
    <div class="card">
        <div class="p-fluid p-grid">
<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4" width="300px">
        <span class="p-float-label" >
            <p-dropdown [style]="{'width':'350px', 'margin-top':'25px'}" inputId="prefix" [autoDisplayFirst]="false" [options]="partmasterdataPrefixes" [(ngModel)]="selectedPartmasterdataPrefixes" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="prefix">Select Prefix</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'25px'}" inputId="VehicleType" [autoDisplayFirst]="false" [options]="partmasterdatapVehicleType" [(ngModel)]="selectedPartmasterdataVehicleType" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Vehicle Type</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'30px'}" inputId="VehicleCode" [autoDisplayFirst]="false" [options]="partmasterdatapVehicleCode" [(ngModel)]="selectedPartmasterdataVehicleCode" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Vehicle  Code</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'35px'}" inputId="Module" [autoDisplayFirst]="false" [options]="partmasterdataModules" [(ngModel)]="selectedPartmasterdataModules" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Module</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'35px'}" inputId="Assembly" [autoDisplayFirst]="false" [options]="partmasterdataAssembly" [(ngModel)]="selectedPartmasterdataAssembly" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Assembly</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'35px'}" inputId="UpDown" [autoDisplayFirst]="false" [options]="partmasterdataUpDown" [(ngModel)]="selectedPartmasterdataUpDown" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Up/Down</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'35px'}" inputId="LeftRight" [autoDisplayFirst]="false" [options]="partmasterdataLeftRight" [(ngModel)]="selectedPartmasterdataLeftRight" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Left/Right</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-dropdown [style]="{'width':'350px','margin-top':'35px'}" inputId="FrontRear" [autoDisplayFirst]="false" [options]="partmasterdataFrontRear" [(ngModel)]="selectedPartmasterdataFrontRear" optionLabel="partMasterDataTypeValue"></p-dropdown>
            <label for="dropdown">Front/Rear</label>
        </span>
    </div>
</div>
</div>
</div>
</div>










