
<h1>angular simple first page</h1>
<div class="container">
    <div class="center"><br>
<span class="label part">part number generator</span><br>
<br><br>
<span class="label prefix">preprefix</span>
<select class="sele1">
    <option>select</option>
</select><br><br>
<span class="label vehicle">vehicle type</span>
<select class="sele2">
    <option>select</option>
</select><br><br>
<span class="label code">code</span>
<select class="sele3">
    <option>select</option>
</select><br><br>
<span class="label module">module</span>
<select class="sele4">
    <option>select</option>
</select>
<br><br>
<span class="label submodule">submodule</span>
<select class="sele5">
    <option>select</option>
    </select>
    <br><br>
    <button class="btn">generate</button>
</div></div>
