<div class="p-grid">
    <div class="p-col-partsData">{{partsData.partNumber}}</div>
    <div class="p-col">{{partsData.partName}} </div>
    <div class="p-col">{{partsData.fullPartName}} </div>
    <div class="p-col">{{partsData.partStatus}}</div>
    <div class="p-col">{{partsData.createdDate}}</div>
    <div class="p-col">{{partsData.lastUpdatedDate}}</div>
    <div class="p-col">{{partsData.user.firstName}}</div>
    <div class="p-col">{{partsData.user.lastName}}</div>
    <div class="p-col">{{partsData.user.email}}</div>
    <div class="p-col">{{partsData.user.userID}}</div>
</div>

  
