<div>
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <div class="ui-fluid forms-grid p-fluid p-grid" style="margin: 1em 0">
                <div class="p-field p-col-12 p-md-5" width="300px">
                    <span class="p-float-label" >
                        <p-autoComplete formControlName="partName" inputId="partName" [style]="{'width':'350px', 'margin-top':'30px'}" [(ngModel)]="selectedPartmasterdataPartName" [suggestions]="partmasterdataPartName" (completeMethod)="search($event)" minLength="1" autoHighlight="true"></p-autoComplete>
                        <label for="mainpartname">Enter Part Name*</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-5" width="300px">
                    <span class="p-float-label" >
                        <p-dropdown formControlName="prefix" [style]="{'width':'350px', 'margin-top':'30px'}" inputId="prefix" [filter]="true" [autoDisplayFirst]="false" [options]="partmasterdataPrefixes" [(ngModel)]="selectedPartmasterdataPrefixes" optionLabel="partMasterDataTypeValue"></p-dropdown>
                        <label for="prefix">Select Prefix*</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <span class="p-float-label">
                        <p-dropdown formControlName="VehicleType" [style]="{'width':'350px','margin-top':'30px'}" inputId="VehicleType" [filter]="true" [autoDisplayFirst]="false" [options]="partmasterdatapVehicleType" [(ngModel)]="selectedPartmasterdataVehicleType" optionLabel="partMasterDataTypeValue"></p-dropdown>
                        <label for="dropdown">Vehicle Type*</label>
                    </span>
                </div>

                <div class="p-field p-col-12 p-md-5">
                    <span class="p-float-label">
                        <p-dropdown formControlName="VehicleCode" [style]="{'width':'350px','margin-top':'30px'}" inputId="VehicleCode" [filter]="true" [autoDisplayFirst]="false" [options]="partmasterdatapVehicleCode" [(ngModel)]="selectedPartmasterdataVehicleCode" optionLabel="partMasterDataTypeValue"></p-dropdown>
                        <label for="dropdown">Vehicle Code*</label>
                    </span>
               </div>

               <div class="p-field p-col-12 p-md-5">
                <span class="p-float-label">
                    <p-dropdown formControlName="Module" [style]="{'width':'350px','margin-top':'30px'}" inputId="Module" [filter]="true" [autoDisplayFirst]="false" [options]="partmasterdataModules" [(ngModel)]="selectedPartmasterdataModules" optionLabel="partMasterDataTypeValue"></p-dropdown>
                    <label for="dropdown">Module*</label>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-dropdown formControlName="Assembly" [style]="{'width':'350px','margin-top':'30px'}" inputId="Assembly" [filter]="true" [autoDisplayFirst]="false" [options]="partmasterdataAssembly" [(ngModel)]="selectedPartmasterdataAssembly" optionLabel="partMasterDataTypeValue"></p-dropdown>
                    <label for="dropdown">Assembly</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-dropdown formControlName="FrontRear" [style]="{'width':'350px','margin-top':'30px'}" inputId="FrontRear" [autoDisplayFirst]="false" [options]="partmasterdataFrontRear" [(ngModel)]="selectedPartmasterdataFrontRear" optionLabel="partMasterDataTypeValue"></p-dropdown>
                    <label for="dropdown">Front/Rear</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-dropdown formControlName="UpDown" [style]="{'width':'350px','margin-top':'30px'}" inputId="UpDown" [autoDisplayFirst]="false" [options]="partmasterdataUpDown" [(ngModel)]="selectedPartmasterdataUpDown" optionLabel="partMasterDataTypeValue"></p-dropdown>
                    <label for="dropdown">Up/Down</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <span class="p-float-label">
                    <p-dropdown formControlName="LeftRight" [style]="{'width':'350px','margin-top':'30px'}" inputId="LeftRight" [autoDisplayFirst]="false" [options]="partmasterdataLeftRight" [(ngModel)]="selectedPartmasterdataLeftRight" optionLabel="partMasterDataTypeValue"></p-dropdown>
                    <label for="dropdown">Left/Right</label>
                </span>
            </div> 
            <div class="p-field p-col-12 p-md-4">
                <div class="p-field p-col-12 p-md-4">
                    <button type="submit" [style]="{'width':'150px' ,'margin-top':'10px','margin-right':'10px','margin-left':'10px','margin-bottom':'10px'}" 
                        pButton type="button" label="Reset" class="p-button-raised p-button-rounded"></button>
                    <button [style]="{'width':'150px' ,'margin-top':'10px','margin-right':'10px','margin-left':'10px','margin-bottom':'10px'}" 
                        pButton type="submit" label="Save" class="p-button-raised p-button-rounded" [disabled]="!userform.valid"></button>
                </div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                    Form Submitted
                    <br>
                    {{diagnostic}}
                </div>
            </div>
            
    </form>
</div>









